USE [master]
GO
/****** Object:  Database [LibaryDatabase]    Script Date: 2012/5/31 0:09:16  ******/
CREATE DATABASE [LibaryDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibaryDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SHS\MSSQL\DATA\LibaryDatabase.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LibaryDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SHS\MSSQL\DATA\LibaryDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibaryDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibaryDatabase]
GO
/****** Object:  Table [dbo].[book]    Script Date: 2012/5/31 0:09:16  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[isbn] [nchar](15) NOT NULL,
	[title] [nchar](40) NOT NULL,
	[publisher] [nchar](50) NOT NULL,
	[description] [nchar](100) NULL,
 CONSTRAINT [PK_book] PRIMARY KEY CLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[particular_book]    Script Date: 2012/5/31 0:09:16  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[particular_book](
	[id] [int] NOT NULL,
	[library_id] [int] NOT NULL,
	[book_id] [int] NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
