<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BossTerminal.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=LYVXP\SQLEXPRESS;Initial Catalog=libdev;Persist Security Info=True;User ID=libdev;Password=test"
            providerName="System.Data.SqlClient" />
        <add name="BossTerminal.Properties.Settings.libConnectionString"
            connectionString="Data Source=&quot;10.60.1.59\\SQLPRESS, 1433&quot;;Initial Catalog=lib;Persist Security Info=True;User ID=lib;Password=liuyue"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>