<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BossTerminal.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=LYVXP\SQLEXPRESS;Initial Catalog=libdev;Persist Security Info=True;User ID=libdev;Password=test"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>